.loader-fadeout {
  animation: var(--animation-fade-out);
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  width: 100%;
  margin-inline: auto;
  max-width: var(--container-size, var(--size-lg));
}

.surface {
  border-image-slice: 63 fill;
  border-image-width: 64px;
  border-image-source: url('@/assets/ui/ui-surface.png');
  padding: var(--size-6);
}

.fancy-surface {
  background: var(--fancy-bg);
  border: var(--fancy-border);
  padding: var(--size-4);
  box-shadow:
    0 5px 15px 3px rgba(0, 0, 0, 0.2),
    inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.content-surface {
  position: relative;

  padding: var(--size-6);

  /* background: transparent; */

  border-image: var(--surface-bg);
  border-image-slice: 64 fill;
  border-image-width: 32px;
  border-image-repeat: repeat;

  image-rendering: pixelated;
}

.fancy-scrollbar {
  --scrollbar-foreground: #dec7a6;
  --scrollbar-foreground-2: #a2846b;
  --scrollbar-background: transparent
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    /* Foreground */
    background: linear-gradient(
      to bottom,
      var(--scrollbar-foreground),
      var(--scrollbar-foreground-2)
    );
  }
  &::-webkit-scrollbar-track {
    /* Background */
    background: var(--scrollbar-background);
  }
}

.ghost-button {
  --ui-button-bg: transparent;
  --ui-button-hover-bg: hsl(var(--color-primary-hover-hsl) / 0.2);
  --ui-button-disabled-bg: transparent;
}

.ghost-error-button {
  --ui-button-bg: transparent;
  --ui-button-color: var(--error);
  --ui-button-hover-bg: hsl(var(--color-error-hover-hsl) / 0.2);
  --ui-button-disabled-bg: transparent;
}

button:is(.primary-button, .error-button) {
  --ui-button-disabled-color: var(--text-on-disabled);
  --ui-button-disabled-bg: var(--disabled);
}

.primary-button {
  --ui-button-bg: var(--primary);
  --ui-button-hover-bg: var(--primary-hover);

  --ui-button-color: var(--text-on-primary);
}

.subtle-button {
  --ui-button-bg: var(--gray-9);
  --ui-button-hover-bg: var(--gray-8);
}

.button-sm {
  --ui-button-size: var(--font-size-0);
}
.error-button {
  --ui-button-bg: var(--error);
  --ui-button-hover-bg: var(--error-hover);

  --ui-button-color: var(--text-on-error);
}

.link-button {
  --ui-button-bg: transparent;
  --ui-button-hover-bg: transparent;
  --ui-button-disabled-bg: transparent;
  --ui-button-hover-color: var(--primary);
  text-decoration: underline;
}

.ui-hidden {
  visibility: hidden;
  pointer-events: none;
}

@keyframes tutorial-highlight {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(300%) contrast(250%);
  }
}

.tutorial-highlighted {
  animation: tutorial-highlight 2s var(--ease-3) infinite alternate;
  outline: solid yellow 3px;
  outline-offset: 6px;
  transition: all 0.5s var(--ease-out-2);

  @starting-style {
    outline-offset: 150px;
    outline-color: red;
  }
}

[data-keyboard-shortcut]::after {
  content: attr(data-keyboard-shortcut);
  position: absolute;
  top: var(--keyboard-shortcut-top, -10px);
  left: var(--keyboard-shortcut-right, -10px);
  background: rgba(0, 0, 0, 0.5);
  color: #efef9f;
  font-size: var(--font-size-00);
  border: solid 1px #efef9f;
  border-radius: 4px;
  pointer-events: none;
  font-weight: bold;

  display: grid;
  place-content: center;
  background: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  padding: var(--size-1);
  line-height: 1;
}

[data-keyboard-shortcut][data-keyboard-shortcut-centered='true']::after {
  transform: translateX(-50%);
}
